.Sleep {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    transition: 0.5s ease-in-out;
    background-size: cover;
}

.Sleep.wakeup {
    opacity: 0;
}