@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff !important ;
}

.Map, .App, .Interface {
  width: 100%;
  height: 100%;
}

.debug {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
}

.debug p {
  margin: 5px;
}

.App {
  position: relative;
}

.Interface {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div_test {
  color : black ; 
  font-size: 1vh;
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 0;
  font-size: 5vh;
  font-family: 'Yatra One', cursive;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.2vh;
}


.go_map {
  width: 9vh !important;
} 


/* ---------------------------- PAGE POINT ---------------------------- */
.pointPage {
  width: 75%;
  height: 80%;
  background : rgba(27, 27, 27, 0.8) ;
  padding: 3vh;
  margin: auto;
}

.pointPage h2 {
  font-size: 3.8vh;
}

.pointPage h3 {
  font-size: 1.5vh;
}

video {
  width: 100%;
  margin: 2vh 0;
}

.contenu{
  margin: 0 5%;
}

.btn {
  background: none;
  border: none;
  margin: 0 1vh ;
}

.links {
  display: flex;
  justify-content: center ;
  padding: 0 4%;
}

.links .btn {
  margin: 1vh auto;
  width: 13vh;
}

.links img{
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center ;
  margin: 1vh 0 ; 
}

.buttons img {
  margin: 0 1vh ; 
  width: 6vh ;
}

.sound {
  margin: 1vh 2vh;
  display: flex;
  flex-direction: column;
}

.sound div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proverbe{
  width: 85%;
  margin: 0.7vh 0.6vh 0.7vh 0;
}

.sound img{
  width: 1.8vh;
}

/* ---------------------------- A PROPOS ---------------------------- */

.aPropos{
  width: 75%;
  height: 70%;
  background : rgba(27, 27, 27, 0.8);
  padding: 5vh;
  margin: auto;
}

.scroll{
  max-height: 50vh;
  overflow-y: scroll;
  margin: 2vh 0;
  scrollbar-color: #818181;
  scrollbar-width: thin;
  padding-right: 5px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #818181;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.scroll *{
  margin: 1.5vh 0;
}

.aPropos h2{
  font-size: 3.8vh;
}

.aPropos h3{
  font-size: 2vh;
}

.article{
  font-size: 1.3vh;
  margin-bottom: 0;
  text-align: left;
}

.auteur{  
  font-size: 1.3vh;
  text-align: right;
  margin: 0.4vh 0;
  margin-top: 15px;
}

.provenance{
  font-size: 1.3vh;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: right;
}

.mcc_div{
  display: flex;
  margin: 2vh 0;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}

.mcc{
  width: 100% !important;
  margin: auto;
}

figcaption{
  font-size: 1.3vh;
  text-align: center;
}

span {
  font-weight: bold;
}

.aPropos button{
  width: 100%;
  margin: 1vh auto;
  cursor: pointer;
}

/* ---------------------------- Footer ---------------------------- */

.Footer {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background : rgba(27, 27, 27, 0.2);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.Footer .aProposLink {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer  .langues img {
  height: 25%;
  cursor: pointer;
}